@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Titillium+Web:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
h4 {
  font-size: xx-small;
}

p {
  font-family: "Titillium Web", sans-serif;
}

/* Estilo banner */
.banner {
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 4%;
}

/* Estilo redes */
#redes {
  font-weight: bold;
}

/* Fin estilo redes */
/* Estilo palabras redes */
footer ul li a {
  color: red;
  font-weight: bold;
}

/* Fin estilo palabras redes */
/* Estilo descripción de la página */
.descripcion-de-la-pag {
  color: orange;
}

/* Fin de estilo descripción de la página */
/* Estilo de las listas no ordenadas (ul's) */
ul {
  list-style-type: none;
}

/* Fin de estilo de las listas no ordenadas (ul's) */
/* Regla Media Query */
/* Mobile */
/* Tablet */
/* Desktop */
/* Fin regla media query */
/* Ajuste de imágenes del inicio */
.banner {
  height: 100%;
  width: 100%;
}

.logo {
  height: 100%;
  width: 150px;
}

.body {
  background-color: rgb(0, 0, 0);
}

#text {
  color: white;
}

#redes {
  top: 50%;
  left: 50%;
  padding: 15px 0;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #262626;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  letter-spacing: 2px;
  transition: 0.5s;
}

#redes:hover {
  letter-spacing: 10px;
}

.banner {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
#cardanimation {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.d-block {
  width: 100%;
  max-width: 100%;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
  transition: transform 2s ease;
}

body {
  font-family: "Poppins";
}

.navigation {
  height: 70px;
  background: #000000;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 10px 20px 0 20px;
  line-height: 50px;
  background: #000000;
  color: #ffffff;
  text-decoration: none;
}
nav ul li a::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #f80000;
  width: 0%;
  bottom: 0px;
}
nav ul li a:hover::before {
  width: 70%;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #000000;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 799px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li a:hover::before {
    width: 20%;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #f80000;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

/*# sourceMappingURL=styles.css.map */
