$logo-width: 30px;
$logo-height: 24px;
$navbar-text-color: #343a40;
$navbar-link-color: #007bff;
$navbar-link-hover-color: #0056b3;




//tarjetas 

@gray-darker:               #444444;
@gray-dark:                 #696969;
@gray:                      #999999;
@gray-light:                #cccccc;
@gray-lighter:              #ececec;
@gray-lightest:             lighten(@gray-lighter,4%);