h4 {
    font-size: xx-small;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

/* Estilo banner */
.banner {
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 4%;
}

/* Estilo redes */
#redes {
    font-weight: bold;
}
/* Fin estilo redes */

/* Estilo palabras redes */
footer {
    ul {
        li {
            a {
                color: red;
                font-weight: bold;
            }
        }
    }
}
/* Fin estilo palabras redes */

/* Estilo descripción de la página */
.descripcion-de-la-pag {
    color: orange;
}
/* Fin de estilo descripción de la página */

/* Estilo de las listas no ordenadas (ul's) */
ul {
    list-style-type: none;
}
/* Fin de estilo de las listas no ordenadas (ul's) */

/* Regla Media Query */

/* Mobile */
@media only screen and (max-width: 500px) {}

/* Tablet */
@media only screen and (max-width: 501px) and (max-width: 961px) {}

/* Desktop */
@media only screen and (max-width: 961px) {}
/* Fin regla media query */

/* Ajuste de imágenes del inicio */
.banner {
    height: 100%;
    width: 100%;
}

.logo {
    height: 100%;
    width: 150px;
}


// Body Styles
.body {
    background-color:  rgb(0, 0, 0);
}

//Text color
#text{
    color: $white;
}

#redes{
    
    top: 50%;
    left:50%;
    padding: 15px 0;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #262626;
    border-top: 2px solid #262626;
    border-bottom: 2px solid #262626;
    letter-spacing: 2px;
    transition: .5s;

  }
  #redes:hover{
    letter-spacing: 10px;
  }

  //Banner Animation

  .banner {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 

    #cardanimation{
        -webkit-animation-name: slideInDown;
        animation-name: slideInDown;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes slideInDown {
        0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        }
        @keyframes slideInDown {
        0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        visibility: visible;
        }
        100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        }
        } 
    
   //slider

   .d-block {
    width: 100%;      // Ajuste del ancho del carousel
    max-width: 100%;  // Ajuste del ancho máximo de las imágenes
    height: auto;     // Proporción de aspecto
    max-width: 600px; // Ajusta el ancho máximo según tus necesidades
    margin: 0 auto;   // Centra el carrusel en la página
    transition: transform 2s ease;  // Ajuste del tiempo de transición (en este caso, 2 segundos)
  }
  //fin slider 

  //NavBar
  $content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #000000;
$nav-font-color: #ffffff;
$link-hover-color: #f80000;

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

body{
  font-family: 'Poppins'
}

.navigation {
  height: $nav-height;
  background: $nav-background;
}

.nav-container {
  max-width: $content-width;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: $nav-height;
  text-transform: uppercase;
  font-size: 1.4em;
  
  &:hover{
    
  }

  a,
  a:visited {
    color: $nav-font-color;
    text-decoration: none;
  }
}

nav {
  float: right;
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
    li {
      float: left;
      position: relative;
      a {
        display: block;
        padding: 10px 20px 0 20px;
        line-height: 50px;
        background: $nav-background;
        color: $nav-font-color;
        text-decoration: none;
        
        
         &::before {
           transition: 300ms;
           height: 5px;
           content: "";
           position: absolute;
           background-color: $link-hover-color;
           width: 0%;
           bottom: 0px;
        }

        &:hover::before{
          width: 70%;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      } // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }
}


.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $nav-background;
  height: $nav-height;
  width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
  .nav-mobile {
    display: block;
  }
  nav {
      width: 100%;
      padding: $nav-height 0 15px;
    ul {
      display: none;
      
      li{
        float: none;
        
        a {
          padding: 15px;
          line-height: 20px;
          
          &:hover::before{
            width: 20%;
          }
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }
  .nav-dropdown {
    position: static;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: $link-hover-color;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}